# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projectGIT\Innowise-testTask-userList\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
